<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">


<bean id="studbean" class="com.bridgelabz.HelloWorld.Employee">

<!-- Dependancy injection using setter method -->
<!-- <property name="name" value="Mohan Badgujar"></property> -->

<!-- Dependancy injection using constructor -->
<constructor-arg value="Mohan Badgujar"></constructor-arg>

</bean>	

</beans>
